<h1 class="header">Stupid Coaching</h1>
<p id="askcoach">Ask coach anything: </p>

<div id="form" class="form-group">
  <form action="answer" method="get" class="form-inline">
    <input type="text" name="message" placeholder="Type Question Here">
    <input type="submit" value="Ask!" class="btn btn-primary">
  </form>
</div>
